<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$CONTENT_TITLE">Smart Security Camera</title>
    <object th:include="layout :: head" th:remove="tag"/>
</head>

<body>
<script>
    var delayInMilliseconds = 5000;

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function stop() {
        document.getElementById('start').style.display = 'block';
        document.getElementById('stop').style.display = 'none';
    }

    function start() {
        document.getElementById('stop').style.display = 'block';
        document.getElementById('start').style.display = 'none';
    }

    function left(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/control?tilt=left")
        request.send()
    }

    function right(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/control?tilt=right")
        request.send()
    }
    function up(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/control?pan=up")
        request.send()
    }

    function down(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/control?pan=down")
        request.send()
    }
    function reset(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/servo?pan=90&tilt=90")
        request.send()
    }

</script>

<nav th:replace="layout :: header"></nav>

<div class="container container-fluid main-content">
    <!-- Use any element to open the sidenav -->
    <div class="mainblok">
        <h2 class="mb-2 page-title">Camera View</h2>
        <br/>
        <img height="480" th:src="${videoMode}" width="640">
        <br/>
        <br/>
    </div>

    <div class="mainblok">
        <h2 class="mb-2 page-title">Camera Control</h2>
        <br/>
        <table align="center" style="width:60%">
            <tr>
                <th>
                    <button class="btn btn-primary" type="button" onclick="setTimeout(up(), 2000)">
                        <svg class="bi bi-arrow-up-circle" fill="currentColor" height="32" viewBox="0 0 16 16"
                             width="32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"
                                  fill-rule="evenodd"/>
                        </svg>
                    </button>
                </th>
                <th>
                    <button class="btn btn-primary" type="button" onclick="setTimeout(down(), 2000)">
                        <svg class="bi bi-arrow-down-circle" fill="currentColor" height="32" viewBox="0 0 16 16"
                             width="32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
                                  fill-rule="evenodd"/>
                        </svg>
                    </button>
                </th>
                <th id="start">
                    <button class="btn btn-primary" onclick="start()" type="button">
                        <svg class="bi bi-play" fill="currentColor" height="32" viewBox="0 0 16 16"
                             width="32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                        </svg>
                    </button>
                </th>
                <th hidden id="stop">
                    <button class="btn btn-danger" onclick="stop()" type="button">
                        <svg class="bi bi-stop" fill="currentColor" height="32" viewBox="0 0 16 16"
                             width="32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.5 5A1.5 1.5 0 0 1 5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5zM5 4.5a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5H5z"/>
                        </svg>
                    </button>
                </th>
                <th>
                    <button class="btn btn-primary" type="button" onclick="setTimeout(reset(), 2000)">
                        <svg class="bi bi-arrow-clockwise" fill="currentColor" height="32" viewBox="0 0 16 16"
                             width="32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
                                  fill-rule="evenodd"/>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                        </svg>
                    </button>
                </th>
                <th>
                    <button class="btn btn-primary" type="button" onclick="setTimeout(left(), 2000)">
                        <svg class="bi bi-arrow-left-circle" fill="currentColor" height="32" viewBox="0 0 16 16"
                             width="32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                                  fill-rule="evenodd"/>
                        </svg>
                    </button>
                </th>
                <th>
                    <button class="btn btn-primary" type="button" onclick="setTimeout(right(), 2000)">
                        <svg class="bi bi-arrow-right-circle" fill="currentColor" height="32" viewBox="0 0 16 16"
                             width="32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                                  fill-rule="evenodd"/>
                        </svg>
                    </button>
                </th>
            </tr>
        </table>
    </div>
</div>
<br/>
<br/>
<footer th:replace="layout :: footer"></footer>
</body>

</html>