<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$CONTENT_TITLE">Smart Security Camera</title>
    <object th:include="layout :: head" th:remove="tag"/>
</head>

<body>
<script>
    var delayInMilliseconds = 5000;

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function stop() {
        document.getElementById('start').style.display = 'block';
        document.getElementById('stop').style.display = 'none';
    }

    function start() {
        document.getElementById('stop').style.display = 'block';
        document.getElementById('start').style.display = 'none';
    }

    function left(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/control?tilt=left")
        request.send()
    }

    function right(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/control?tilt=right")
        request.send()
    }
    function up(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/control?pan=up")
        request.send()
    }

    function down(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/control?pan=down")
        request.send()
    }
    function reset(){
        const request = new XMLHttpRequest();
        request.open("GET", "http://192.168.0.7:5005/servo?pan=90&tilt=90")
        request.send()
    }

</script>

<nav th:replace="layout :: header"></nav>

<div class="container container-fluid main-content">
    <!-- Use any element to open the sidenav -->
    <div class="mainblok">
        <h2 class="mb-2 page-title">Camera View</h2>
        <br/>
        <img height="480" th:src="${videoMode}" width="640">
        <br/>
        <br/>
    </div>

</div>
<br/>
<br/>
<footer th:replace="layout :: footer"></footer>
</body>

</html>